<div class = "page">
<div class = "main">
    <h1>BattleShip</h1><br>
    <p>Ready To play Cyber Hero vs Hacker</p><br>
</div>

<div class = "create-game">
    <h3>Create Game</h3>
    <input [(ngModel)]="playerName" placeholder="Enter Your Name"><br><br>
    <button (click)="onCreateGame()">Start Game</button>
</div>

<div class = "join-game">
    <h3>Join Game</h3>
    <input [(ngModel)]="playerName" placeholder="Enter Your Name"><br><br>
    <input [(ngModel)]="matchCode" placeholder="Enter Game Code"><br>
    <button (click)="onJoinGame(matchCode)">Join Game</button>
</div>
</div>